wc\:permalink {
    font: 16px/1 'Lucida Console', monospace;
    opacity: .5;
}

wc\:permalink a {
    padding: 4px;
}

wc\:permalink:hover {
    opacity: 1;
}

wc\:permalink > a:hover {
    text-decoration: none;
}
