wc_permalink {
    font: 16px/1 'Lucida Console', monospace;
    opacity: .5;
}

wc_permalink a {
    padding: 4px;
}

wc_permalink:hover {
    opacity: 1;
}

wc_permalink > a:hover {
    text-decoration: none;
}
