wc_vmenu_root {
    font-size: 12pt;
}

wc_vmenu_branch {
    display: block;
    margin: .5em 0;
}

wc_vmenu_leaf {
    display: block;
    padding: 0 .5em;
    white-space: nowrap;
    text-align: left;
}

a:hover wc_vmenu_leaf {
    background: white;
}

a.reset\=true.target\=true wc_vmenu_leaf {
    color: red;
}
