wc_error {
    display: inline-block;
    text-align: left;
    overflow: auto;
    white-space: pre-wrap;
    word-break: break-all;
    padding: 4px;
    font-size: 12px;
    font-family: monospace;
    background: pink;
    
    border-radius: 2px;
    border: 1px solid #aaa;

    box-shadow: 4px 4px 5px rgba( 0, 0, 0, .5 );
}
