[visualang_place] {
    background: white;
    border: 1px solid gray;
    border-radius: .5em;
    padding: .5em;
    margin: .5em;
    display: inline-block;
    vertical-align: top;
    font-size: .9em;
}

[visualang_place]:before {
    content: attr( visualang_place );
    display: block;
    color: gray;
    margin: -.25em 0 .5em -.25em;
    font-size: .9em;
}
