lang_pcre {
    font-family: 'Courier New', monospace;
    white-space: pre-wrap;
    line-height: 1;
}

lang_pcre_backslash {
    color: #aaa;
}

lang_pcre_spec {
    color: red;
}

lang_pcre_control {
    font-weight: bold;
    color: #c33;
}
