wc_footer {
    width: 100%;
    display: block;
    overflow: hidden;
    padding: 3pt 0;
    font: 12pt/1 'Times', serif;
    text-align: center;
    clear: both;
    color: #666;
    position: absolute;
    bottom: 0;
}
