lang_md {
    white-space: pre-wrap;
    line-height: 1.5;
}

lang_md_embed {
	display: block;
    text-align: center;
}

.wc_lang_md_embed-object {
	display: block;
	width: 100%;
	height: 100%;
	border: none;
    box-shadow: 1px 1px 5px rgba( 0, 0, 0, .5 );
    border-radius: 3px;
    background: black;
    overflow: hidden;
}

lang_md_embed img {
    max-height: 90%;
	max-width: 100%;
	border: none;
    box-shadow: 1px 1px 5px rgba( 0, 0, 0, .5 );
    border-radius: 2px;
}

lang_md_embed img:hover {
    opacity: .95;
    box-shadow: 2px 2px 7px black;
}

lang_md_embed-href {
    color: #66b;
    position: absolute;
	opacity:  0;
	z-index: -1;
    font-family: 'Courier New', monospace;
	font-size: 10pt;
}
wc_editor[wc_editor_active="true"] lang_md_embed-href {
    position: static;
	opacity: 1;
}

lang_md_embed-marker {
    color: #666;
    position: absolute;
	opacity:  0;
	z-index: -1;
    font-family: 'Courier New', monospace;
	font-size: 10pt;
}
wc_editor[wc_editor_active="true"] lang_md_embed-marker {
    position: static;
	opacity: 1;
}

lang_md_image {
}

lang_md_image object {
	max-width: 100%;
}

lang_md_image-href {
    color: #66b;
    position: absolute;
	opacity:  0;
	z-index: -1;
    font-family: 'Courier New', monospace;
}
wc_editor[wc_editor_active="true"] lang_md_image-href {
    position: static;
	opacity: 1;
}

lang_md_link {
    color: blue;
    font-family: 'Courier New', monospace;
}

lang_md_link-title {
    font-family: 'Times', serif;
	white-space: nowrap;
}

lang_md_link-href {
    font-size: 11pt;
    color: #66b;
    position: absolute;
	opacity:  0;
	z-index: -1;
    left: -1000em;
}

wc_editor[wc_editor_active="true"] lang_md_link-href {
    position: static;
	opacity: 1;
}

lang_md_link-marker {
    font-size: 13pt;
    color: #999;
    position: absolute;
	opacity:  0;
	z-index: -1;
}
wc_editor[wc_editor_active="true"] lang_md_link-marker {
    position: static;
	opacity: 1;
}

lang_md_author {
    color: #006;
}

lang_md_indent {
    font-size: 12pt;
    font-family: 'Courier New', monospace;
}

lang_md_para {
    font-family: 'Times', serif;
	overflow: hidden;
}

lang_md_header-3 {
	color: #006;
	font-size: 16pt;
    font-family: 'Times', serif;
    margin-left: -30pt;
}

lang_md_header-2 {
	color: #006;
	font-size: 22pt;
    font-family: 'Times', serif;
    margin-left: -30pt;
}

lang_md_header-1 {
	color: #006;
	font-size: 30pt;
    font-family: 'Times', serif;
    margin-left: -30pt;
}

lang_md_header-marker {
    font-size: 12pt;
    opacity: 0;
    font-family: 'Courier New', monospace;
    color: #666;
}

wc_editor[wc_editor_active="true"] lang_md_header-marker {
	opacity: 1;
}

lang_md_pros {
	color: #393;
    font-weight: bold;
}

lang_md_cons {
	color: #933;
    font-weight: bold;
}

lang_md_disputes {
	color: #399;
    font-weight: bold;
}

lang_md_marker {
    font-size: 12pt;
    opacity: 0;
    font-family: 'Courier New', monospace;
    color: #666;
}

wc_editor[wc_editor_active="true"] lang_md_marker {
	opacity: 1;
}

lang_md_quote {
    color: green;
}

lang_md_quote-marker {
    color: #060;
    font-size: 12pt;
    opacity: 0;
    font-family: 'Courier New', monospace;
}

wc_editor[wc_editor_active="true"] lang_md_quote-marker {
	opacity: 1;
}

lang_md_quote-inline {
    color: green;
}

lang_md_quote-inline-marker {
    color: #060;
}

lang_md_math {
	color: #a30;
}

lang_md_table {
    display: table;
    empty-cells: show;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
}
wc_editor[wc_editor_active="true"] lang_md_table {
	display: inline;
	border: none;
}

lang_md_table-row {
    display: table-row;
}
wc_editor[wc_editor_active="true"] lang_md_table-row {
    display: inline;
}

lang_md_table-row-sep {
    position: absolute;
	opacity:  0;
	z-index: -1;
    font-size: 14pt;
    font-family: 'Courier New', monospace;
}
wc_editor[wc_editor_active="true"] lang_md_table-row-sep {
    position: static;
	opacity: 1;
}

lang_md_table-cell {
    display: table-cell;
	padding: 0 .25em;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
wc_editor[wc_editor_active="true"] lang_md_table-cell {
	display: inline;
	border: none;
	padding: 0;
}

lang_md_table-marker {
    position: absolute;
	opacity:  0;
	z-index: -1;
    font-size: 14pt;
    font-family: 'Courier New', monospace;
}
wc_editor[wc_editor_active="true"] lang_md_table-marker {
    position: static;
	opacity: 1;
}

lang_md_code {
    font-family: 'Courier New', monospace;
    white-space: pre-wrap;
    line-height: 1.2;
    font-size: 12pt;
}
lang_md_code:after {
	display: block;
	position: absolute;
	top: 0;
	height: 100%;
	left: 1.75em;
	border: 1px solid #ddd;
	content: '';
	z-index: -1;
}

lang_md_code-marker {
    font-size: 12pt;
    opacity: 0;
    font-family: 'Courier New', monospace;
    color: #666;
}

wc_editor[wc_editor_active="true"] lang_md_code-marker {
	opacity: 1;
}

lang_md_code-meta {
	color: #666;
	background: #eee;
	border: 1px solid #ddd;
	border-radius: 1px;
	padding: 0 .2em;
	font-size: 10pt;
	margin-bottom: .5em;
    line-height: 2;
    text-align: top;
}

lang_md_code-lang {
    font-weight: bold;
    color: black;
}

lang_md_code-content {
}

lang_md_escaping-marker {
    color: #999;
    font-family: 'Courier New', monospace;
    font-size: 8pt;
    position: absolute;
	opacity:  0;
	z-index: -1;
}
wc_editor[wc_editor_active="true"] lang_md_escaping-marker {
    position: static;
	opacity: 1;
}

lang_md_emphasis {
    font-style: italic;
}

lang_md_emphasis-marker {
    color: #999;
    font-family: 'Courier New', monospace;
    position: absolute;
	opacity:  0;
	z-index: -1;
	font-size: 6pt;
}
wc_editor[wc_editor_active="true"] lang_md_emphasis-marker {
    position: static;
	opacity: 1;
}

lang_md_strong {
    font-weight: bold;
}

lang_md_strong-marker {
    color: #999;
    font-family: 'Courier New', monospace;
    font-size: 8pt;
    position: absolute;
	opacity:  0;
	z-index: -1;
}
wc_editor[wc_editor_active="true"] lang_md_strong-marker {
    position: static;
	opacity: 1;
}

lang_md_super {
    vertical-align: super;
	font-size: .75em;
}

lang_md_super-marker {
    color: #999;
    font-family: 'Courier New', monospace;
    font-size: 8pt;
    position: absolute;
	opacity:  0;
	z-index: -1;
}
wc_editor[wc_editor_active="true"] lang_md_super-marker {
    position: static;
	opacity: 1;
}

lang_md_sub {
    vertical-align: sub;
	font-size: .75em;
}

lang_md_sub-marker {
    color: #999;
    font-family: 'Courier New', monospace;
    font-size: 8pt;
    position: absolute;
	opacity:  0;
	z-index: -1;
}
wc_editor[wc_editor_active="true"] lang_md_sub-marker {
    position: static;
	opacity: 1;
}

lang_md_remark {
    color: #666;
}

