h1 {
	color: #321;
    font: 40pt/1 'Times', serif;
    margin: 0 0;
    text-align: center;
    display: block;
}

h1 br {
    display: none;
}

h1.reset\=true {
    font: inherit;
    margin: 0;
    text-align: inherit;
}
