h1 {
	color: #339;
    font: 35pt/1 'Times New Roman', serif;
    margin: 20pt 0;
    text-align: center;
    display: block;
}

h1 br {
    display: none;
}

h1.reset\=true {
    font: inherit;
    margin: 0;
    text-align: inherit;
}
