wc_article {
    display: block;
    margin: 5% 6%;
    position: relative;
}

wc_article_title {
    display: block;
    margin: 0 0 20pt 0;
	color: #321;
    font: 40pt/1 'Times', serif;
    text-align: center;
}

wc_article_title br {
    display: none;
}


wc_article_title a:hover {
    text-decoration: none;
    color: #66b;
}

wc_article_annotation {
    display: block;
    color: #666;
    margin: 20pt 0;
}

wc_article_content {
    display: block;
    margin: 20pt 0 0;
}
