[wc_reset="true"] {
    color: inherit;
    font: inherit;
    text-align: inherit;
    text-decoration: inherit;
    cursor: inherit;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    top: none;
    bottom: none;
    left: none;
    right: none;
    position: static;
    border: none;
    outline: none;
}

html[wc_reset="true"] {
    width: 100%;
    height: 100%;
    background: white;
    color: black;
    font: 14pt/1.5 'Times', serif;
    overflow: auto;
    overflow-y: scroll;
}

body[wc_reset="true"] {
    width: 100%;
    height: 100%;
}

a[wc_reset="true"],
button[wc_reset="true"] {
    cursor: pointer;
}
