wc\:lang_md {
    white-space: pre-wrap;
    line-height: 1.5;
}

wc\:lang_md-link {
    color: blue;
    font-family: 'Courier New', monospace;;
    display: inline-block;
    display: inline\9; /*ie*/
}

wc\:lang_md-link-title {
    font-family: serif;
}

wc\:lang_md-link-href {
    font-size: 13pt;
    color: #666;
    display: none;
}

.wc_editor_content:focus wc\:lang_md-link-href {
    display: inline;
}

wc\:lang_md-link-marker {
    display: none;
}
.wc_editor_content:focus wc\:lang_md-link-marker {
    display: inline;
}

wc\:lang_md-author {
    color: #006;
}

wc\:lang_md-indent {
    font-family: 'Courier New', monospace;
    float: left;
    float: none\9; /*ie*/
}

wc\:lang_md-para {
    font-family: 'Cambria', serif;
    adisplay: block;
    overflow: hidden;
    overflow: visible\9; /*ie*/
    display: inline\9; /*ie*/
}

wc\:lang_md-header-6 {
	color: #339;
	font-size: 18pt;
    font-family: 'Cambria', serif;
}

wc\:lang_md-header-5 {
	color: #339;
	font-size: 22pt;
    font-family: 'Cambria', serif;
}

wc\:lang_md-header-4 {
	color: #339;
	font-size: 26pt;
    font-family: 'Cambria', serif;
}

wc\:lang_md-header-3 {
	color: #339;
	font-size: 30pt;
    font-family: 'Cambria', serif;
}

wc\:lang_md-header-2 {
	color: #339;
	font-size: 34pt;
    font-family: 'Cambria', serif;
}

wc\:lang_md-header-1 {
	color: #339;
	font-size: 38pt;
    font-family: 'Cambria', serif;
}

wc\:lang_md-header-marker {
    font-size: 14pt;
    display: none;
    font-family: 'Courier New', monospace;
    color: #666;
}

.wc_editor_content:focus wc\:lang_md-header-marker {
    display: inline;
}

wc\:lang_md-quote {
    color: green;
    display: block;
}

wc\:lang_md-quote-marker {
    color: #060;
}

wc\:lang_md-quote-inline {
    color: green;
}

wc\:lang_md-quote-inline-open {
    color: #060;
    content: '«';
}
wc\:lang_md-quote-inline-close {
    color: #060;
    content: '»';
}

wc\:lang_md-dash {
    content: ' – ';
}

wc\:lang_md-table {
    display: table;
    border-collapse: collapse;
    empty-cells: show;
    ~border: 1px solid gray;
}

wc\:lang_md-table-row {
    display: table-row;
}

wc\:lang_md-table-row-sep {
    display: none;
}

.wc_editor_content:focus wc\:lang_md-table-row-sep {
    display: table-row;
}

wc\:lang_md-table-cell {
    display: table-cell;
    padding-right: 1em;
}

wc\:lang_md-table-marker {
    font-size: 14pt;
    visibility: hidden;
    font-family: 'Courier New', monospace;
}

.wc_editor_content:focus wc\:lang_md-table-marker {
    visibility: visible;
}

wc\:lang_md-code {
    font-family: 'Courier New', monospace;
    white-space: pre-wrap;
    line-height: 1;
    font-size: 12pt;
}

wc\:lang_md-code-marker {
}

wc\:lang_md-code-lang {
}

wc\:lang_md-code-content {
}

wc\:lang_md-emphasis {
    font-style: italic;
}

wc\:lang_md-emphasis-marker {
    color: #999;
    font-family: 'Courier New', monospace;
    font-size: 12pt;
    display: none;
}
.wc_editor_content:focus wc\:lang_md-emphasis-marker {
    display: inline;
}

wc\:lang_md-strong {
    font-weight: bold;
}

wc\:lang_md-strong-marker {
    color: #999;
    font-family: 'Courier New', monospace;
    font-size: 12pt;
    display: none;
}
.wc_editor_content:focus wc\:lang_md-strong-marker {
    display: inline;
}

wc\:lang_md-remark {
    color: #666;
}

