wc_editor {
    display: none;
}

[wc_editor_inited="true"] {
    display: block;
}

.wc_editor_content {
    padding: 2px 4px;
    display: block;
    min-height: 1em;
    white-space: pre-line;
}

.wc_editor_content p {
    margin: 0;
    padding: 0;
}

.wc_editor_content:focus {
    outline: none;
}

wc_editor:hover {
    outline: 1px dotted #ddd;
}

wc_editor[wc_editor_active="true"] {
    outline: 1px dotted #bbb;
    background: white;
}
